rules_version = '2';
service cloud.firestore {
  	match /databases/{database}/documents {
    match /recipe/{recipeId} {
        allow read: if true;
        allow create: if request.auth.uid != null;
        allow update, delete: 
        if request.auth.uid != null && request.auth.uid == resource.data.recipeAuthorUID;
  	}
    
    match /avrRatings/{avrRatingsId} {
    	allow read: if true;
      allow create, update: if request.auth.uid != null; 
    }
  
  	match /users/{usersId} {
        allow read: if true;
        allow create: if request.auth.uid != null;
        allow update, delete: 
        if request.auth.uid != null && request.auth.uid == resource.data.userUID;
  	}
    
     match /shoppingList/{shoppingListId}
     {
     		allow read: if request.auth.uid != null && request.auth.uid == resource.data.userId;
        allow create: if request.auth.uid != null;
        allow update, delete: 
        if request.auth.uid != null && request.auth.uid == resource.data.userId;
     }
     
     match /ratings/{ratingsId}
     {
     		allow read: if true;
        allow create: if request.auth.uid != null;
     }
	}
}
