.row .col {
    display: inline-block !important;
    float: none !important;
}

.recipeRatings {
    display: flex;
    flex-direction: row;
}

.horizontal .card-image {
    border-radius: 15px 0 0 15px;
}

.horizontal {
    height: 80%;
}

.horizontal .card-image img {
    width: 100%;
    height: 18vw !important;
    border-radius: 15px 0 0 15px;
}

.card .card-image img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}